a{
    text-decoration: none;
}
#header{
    position: absolute;
    width: 100%;
    .menu{
        ul{

            li{
                &:first-child{
                    a{
                        color: black;
                    }
                }
                a{
                    
                    text-decoration: none;
                    display: block;
                    padding: 15px;
                    color: white;
                    font-weight: 600;
                }
            }
        }
    }
    .buy-btn{
        a{
            background: white;
            border-radius: 8mm;
            color: blue;
            padding: 8px 15px;
        }
    }
}
.best{
    background-image: url(../image/banner-1.png);
    padding: 6rem 0;
    background-size: cover;
    background-position: left bottom;
    height: 100vh;
}